@import "pagination.css";
body{
	background: ;
    margin: 0;
}
hr{
	border-color: black;
    width: 500px;
}
.clear{
	clear:both;
}
.wrap{
	margin-left: auto;
    margin-right: auto;
    width: 1110px;
    border: 1px solid #8888;
    padding: 10px;
}

.warp-content{
    width: 100%;
}

.very_fast_header{
	height: 43px;
    border: 1px solid #8888;
    margin-bottom: 10px;
}
.{}
.{}
.{}
.{}
.map{
	float:left;
	border: 1px solid #8888;
}


.header{
	border: 1px solid #8888;
	margin-top: 10px;
    margin-bottom: 10px;
}

.first_header{
	    height: 300px;
		border: 1px solid #8888;
		
		
}
.pull_left{
	float:left;
	}
.pull_right{
	float:right;
	margin-top:50px;
	}
.top_right{
	height: 30px;
    margin: 0;
    margin-right: 6px;
    margin-top: 3px;
	
}
.top_left {
	padding: 10px 20px;
    margin-bottom: 5px;
    text-decoration: none;
    background: gray;
    color: white;
	
}
.top_left  i{
	    padding-right: 20px;
}

.logo_img{
	width: 200px;
	margin-top: 20px;
}

.bottom_right{
	float: right;
    padding-right: 20px;
}
	
.second_header{
	   height: 42px;
}
.second_header p{}
.second_header span{
	    background: gray;
    color: white;
    float: left;
    border: 1px solid black;
    padding: 9.5px 21px;
    border-right-color: gray;
	border-left: none;
}
.second_header marquee{
	width: 88.1%;
    float: right;
    border: 0px solid;
    padding: 9px;
    overflow: hidden;
    display: inline-block;
    border-left-color: gray;
	border-right:none;
}


.first_menu{
	margin:0;
}
.first_menu  li{
	list-style: none;
	display: inline;
}
.first_menu  li i{
	font-size: 20px;
    color: #8f090b;
}
.first_menu  li i span{
	
}
.first_menu  li a{
	text-decoration: none;
    color: black;
    margin-left: 15px;
	font-size: 14px;
}
.first_menu  li a:hover{
	border-bottom: 1px solid #2b2a2a;
    transition: 0.2s;
    padding-bottom: 2px;
}


.third_header{
	height: 60px;
    background: #2b2a2a;
	
}

.second_section{
	height: 1260px;
}
.second_menu {
	padding: 0;
    margin: 0;
}
.second_menu li{
	list-style: none;
    float: left;
	display: inline;
	padding: 20px 40px;
}
.second_menu li a{
	text-decoration: none;
    color: white;
}
.second_menu li:hover {
	background: black;
    transition: 0.5s;
    padding: 19px 40px;
}


.dropdown{
	position: relative;
    display: inline-block;
}
.dropdown-content{
	display: none;
    position: absolute;
    background-color: #2b2a2a;
    padding:0;
    z-index: 1;
	    
}

.dropdown:hover .dropdown-content {
	display: block;
    margin-top: 10px;
    box-shadow: 0px 0px 5px #888888;
   
}
.dropdown-content li {
    clear: both;
    display: block;
    float: none;
	padding: 12px 40px;
    border-bottom: 2px solid #e5e5e5;
}
.dropdown-content li a{
	font-size: 15px;
}

.dropdown-content li:hover{
	
	border-top: none;
}
.fab {
    font-family: "Font Awesome 5 Brands";
    font-size: 35px;  
}
.facebook_color{
	color:#4267b2;
}
.twitter_color{
	color:#36b9ff;
	font-size: 36px;
}
.google_color{
	color:#bc1316;
}
.first_section{
	height: 70px;
}


.puran_shonkha{
	border: 1px solid #8888 !important;
    padding: 12px 10px;
    width: 270px;
}
.puran_shonkha a{
	font-size: 12px;
    text-decoration: none;
    background: gray;
    color: white;
    padding: 5px 5px;
	display:none;
}
.puran_shonkha select{
	
	border: 1px solid gray;
    padding: 4px;
    border-radius: 3px;
    outline: none;
    
}
.nbtn{
    border: 1px solid #888888;
	padding: 4px 24px;
    border-radius: 2px;
    outline: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 95%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}





.ad{
	width: 270px;
    border: 1px solid #8888;
    height: 214px;
    margin-bottom: 15px;
    padding: 5px;
}


.widget{
	width: 260px;
}
.widget_wrap{
	padding: 12px 0px;
    border: 1px solid #8888;
    border-bottom: none;
    padding-bottom: 0
}
.wmenu{}
.wmenu a{
	background: #2b2a2a;
    color: white;
    padding: 15px;
    
    text-decoration: none;
}
.wmenu ul{
	width: 260px;
	padding: 0;
	margin-top: 30px;
	
}
.wmenu ul li{
	list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid #8888;
}
.wmenu ul li a{
	padding: 0;
    background: none;
    color: black;
    border: none;
	font-size: 14px;
}
.wmenu ul li:hover{
	box-shadow: 0px 0px 10px #888888;
    transition: 0.5s
}
.main_footer{
	text-align: center;
	border: 1px solid #8888;
    padding: 10px;
}
.main_footer h5{}
.main_footer p{}
.main_footer a{
	text-decoration: none;
    color: black;
    font-style: italic;
    font-weight: bold;
}
.month{
	width: 70px;
}

.tbl_head_name{
	color: #e5e5e5;
    font-size: 20px;
    text-decoration: none;
    font-style: italic;
}
.next_button{
	background: #d43f3a;
    color: #e5e5e5;
    border: 1px solid #8f090b;
    outline: none;
	margin-top: 10px;
}
#nextpageimage{
	border: 1px solid #8888;
    padding: 15px;
}
.addnextpage{    
	width: 35px;
    border-radius: 50%;
    font-size: 22px;
    padding: 2px;
	border: 2px solid #0e4b5e;
}
.testdel {
	width: 35px;
    border-radius: 50%;
    font-size: 22px;
    padding: 2px;
    border: 2px solid #8888;
}

.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
