.pagination{
    width: 780px;
    border: 1px solid #8888;
    padding: 15px 0px;
}
.pagination ul {
    padding: 0;
    margin: 0 auto;
}
.pagination ul i{
    font-size: 20px;
    color: #2b2a2a;
    margin-left: 5px;
    margin-right: 5px;
}
.pagination ul li{
    list-style: none;
    display: inline-block;
}
.pagination ul li a {
    padding: 5px;
    background: gray;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    text-align: center;

}
.pagination ul li a:hover{

    background: #2b2a2a;
    color: white;
    transition:0.2s;
}

.pagination ul li a.active {
    background-color: #CC0000;
    color: white;
    border: 1px solid #CC0000;

}