body {
	 background-color: #00232d;
	     margin: 0;
}
#thumbnil-output2::-webkit-scrollbar {
    width: 5px;
	
}


/* Track */
#thumbnil-output2::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent; 
    border-radius: 10px;
	background-clip: content-box;
}
 
/* Handle */
#thumbnil-output2::-webkit-scrollbar-thumb {
    background: lightseagreen; 
    border-radius: 5px;
}

/* Handle on hover */
#thumbnil-output2::-webkit-scrollbar-thumb:hover {
    background: #f23000; 
}


/**************date page or first page***********/

.title_header{
	    margin-top: 200px;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #fff;
}

input[type=date], input[type=datetime-local], input[type=month], input[type=time]{
	    padding: 5px 10px;
    text-align: center;
    margin-left: 600px;
    margin-top: 20px;
    outline: none;
    border: 2px solid;
    border-radius: 0px;
    font-family: sans-serif;
	    border: 1px solid #f23000;
}



.button {
     background-color: #f23000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 6px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px;
    margin-left: 600px;
    width: 187px;
    margin-top: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button:focus{
	outline:none;
}


/**************edit paper or second page*********/

.cutomize{
	width: 35px !important;
    border-radius: 50% !important;
    background: antiquewhite !important;
    margin-left: 20px !important;
    position: fixed !important;
}

.edit-content2{
	float: left;
    margin-left: 50px;
    padding: 5px;
    border: 1px solid #8888;
}

#imageurl{
	display:none;
}
#example{
	position: absolute;
    width: 600px;
    height: auto;
}

.header_h3{
	color: #fff;
    padding: 20px;
    background: slategrey;
	text-align:center;
	margin-bottom:0;
	display:none;
}

ul {
    list-style: none;
    text-align: center;
    padding: 20px 1px;
    background: #0e4b5e;
    color: #fff;
	margin-bottom: 30px;
}
ul li {
    display: inline;
    padding: 5px 10px;
    border: 1px solid;
    cursor: pointer;
    margin: 5px;
    border-radius: 50px;
	margin-bottom: 30px;
	
}

ul li:hover{
	
	    background: #00232d;
    border: 1px solid #00232d;
    transition: 0.5s;
	
}


a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
       background: #00232d;
    border: 1px solid #00232d;
    transition: 0.3s;
    color: #fff;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
   background-color: #f1f1f1;
    color: black;
}

.round {
    border-radius: 50%;
}

#btnView{
	     background: #f23000;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-radius: 0;
    width: 150px;
	position:fixed;
}
#btnView:hover{
	       text-shadow: 0px 5px 10px wheat;
			transition: 0.5s;
}

#thumbnil-output2{
	border:1px solid gray;
	width:260px;
	float:right;
	padding:20px; 
	text-align:center;
	height: 1200px;
	overflow-y: scroll;
	margin-right: 20px;
}


.thumbnil{
	    height: 235px;
}

.img{
	    float: left;
}


input[type=text]{
	padding: 5px 10px;
    text-align: center;
   
    outline: none;
    border: 2px solid;
    border-radius: 0px;
    font-family: sans-serif;
	border: 1px solid #f23000;
}
#alert_actions button.blue {
    background: #f23000;
    padding: 10px 40px;
}
#alert_dialog {
    padding: 5em 1em;
}

.footer{
	width: 100%;
    position: absolute;
    margin-top: 107em;
    padding: 18px 0px;
    background: #0e4b5e;
}
.footer h3{
	color:#fff;
	text-align:center;
	
}

/*************createnew page or second page******************/

.title_header_D{
	    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #fff;
    background: lightseagreen;
    margin: 0;
    padding: 10px;
	    margin-bottom: 30px;
}
.lab{
	    color: #fff;
    margin-left: 550px;
    font-size: 20px;
    font-family: sans-serif;
    font-style: italic;
    margin-right: 15px;
}

input[type=file]{
	     padding: 10px;
    margin-top: 20px;
    outline: none;
    color: white;
    border-radius: 0px;
    font-family: sans-serif;
    border: 1px solid #f23000;
}
.mleft{
	margin-left:632px;
}

.error{
	color: white;
	font-size:20px;
	transition:0.5s;
	}	



